<h2>{{ title }}</h2>

<button class="btn btn-success mb-3" (click)="changeAction('add')">
  Ajouter un livre
</button>
@if (action==='add') {<app-book-add
  [lastId]="books[books.length - 1].id"
  (bookCreated)="addBook($event)"
>
</app-book-add
>} @if(action.includes('edit')){

<app-book-edit
  [book]="this.getBook(+action.substring(4))"
  (bookEdited)="modifyBook($event)"
></app-book-edit>

}

<table class="table table-striped">
  <thead>
    <tr class="table-dark">
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Prix</th>
      <th scope="col">Ajouter</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    @for (book of books; track $index) {
    <tr>
      <th scope="row">{{ book.id }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.price }}</td>
      <td>
        <button class="btn btn-primary" (click)="changeAction('edit' + $index)">
          Editer
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteBook($index)">
          Supprimer
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
